/* -------------------------------------------------------------------------- */
/*                                   Primary                                  */
/* -------------------------------------------------------------------------- */

$primaryRed: hsl(356, 100%, 66%);
$primaryLightRed: hsl(355, 100%, 74%);
$primaryDarkBlue: hsl(208, 49%, 24%);

/* -------------------------------------------------------------------------- */
/*                                   Neutral                                  */
/* -------------------------------------------------------------------------- */

$neutralWhite: hsl(0, 0%, 100%);
$neutralGrayishBlue: hsl(240, 2%, 79%);
$neutralDarkGrayishBlue: hsl(207, 13%, 34%);
$neutralDarkBlackBlue: hsl(240, 10%, 16%);

/* -------------------------------------------------------------------------- */
/*                                  Gradient                                  */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                 Background gradient - Intro/CTA mobile nav                 */
/* -------------------------------------------------------------------------- */

$gradientVeryLightRed: hsl(13, 100%, 72%);
$gradientLightRed: hsl(353, 100%, 62%);

/* -------------------------------------------------------------------------- */
/*                          Background gradient body                          */
/* -------------------------------------------------------------------------- */

$gradientDarkGrayBlue: rgba(44, 45, 63, 0.863);
$gradientDarkDesaturatedBlue: rgba(63, 65, 100, 0.781);
