@import 'styles/colors';

.header {
	background: linear-gradient(rgba(255, 61, 84, 0.9), rgba(255, 61, 84, 0.9)),
		url('./../../images/Header/backgroundCircles.svg');
	padding: 6%;

	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;

	color: $neutralWhite;
	border-bottom-left-radius: 10rem;
}

.nav {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;

	grid-row-gap: 4rem;
	overflow: hidden;
}

.hero {
	font-family: 'Overpass', sans-serif;
	text-align: center;
	display: grid;
	grid-gap: 2rem;
	margin-top: 15rem;
	h1 {
		font-size: 3.5rem;
		font-weight: 600;
	}

	h2 {
		font-weight: 300;
		font-size: 1.8rem;
	}
}

.buttons {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(2, 1fr);
	margin: 4rem 0 15rem 0rem;

	a {
		font-weight: 700;
		border-radius: 3rem;
		text-align: center;
		padding: 1.2rem;
		transition: all 0.4s;
		&:first-child {
			color: $primaryLightRed;
			background-color: $neutralWhite;

			&:hover {
				background-color: $primaryLightRed;
				color: $neutralWhite;
			}
		}

		&:nth-child(2) {
			color: inherit;
			border: 1px solid $neutralWhite;
			&:hover {
				background-color: $neutralWhite;
				color: $primaryLightRed;
			}
		}
	}
}

.desktopMenu {
	display: none;

	ul {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(3, 12rem);
		align-items: center;
		li a {
			color: $neutralWhite;
			svg {
				transition: all 0.4s;
			}

			ul {
				display: none;
				background-color: $neutralWhite;
				box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
				border-radius: 0.6rem;
				color: $gradientDarkGrayBlue;
				line-height: 1.7;
				padding: 3rem;
				font-size: 1.3rem;
				animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
				position: absolute;

				li a {
					color: $neutralGrayishBlue;
				}
			}

			&:hover {
				text-decoration: underline;
				svg {
					transform: rotate(180deg);
				}
				ul {
					display: block;
					li:hover a {
						color: black;
					}
				}
			}
		}
	}
}

.desktopButtons {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(2, auto auto);
	justify-content: end;

	a {
		font-weight: 700;
		border-radius: 3rem;
		text-align: center;
		padding: 1.4rem 2.8rem;
		transition: all 0.4s;

		border: 1px solid transparent;
		&:first-child {
			color: $neutralWhite;

			&:hover {
				border: 1px solid $neutralWhite;
			}
		}

		&:nth-child(2) {
			background-color: $neutralWhite;
			color: $primaryLightRed;

			&:hover {
				color: $neutralWhite;

				background-color: $primaryLightRed;
			}
		}
	}
}

.mobileMenu {
	display: block;
	justify-self: end;
}

@media (min-width: 1000px) {
	.desktopMenu {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.mobileMenu {
		display: none;
	}

	.nav {
		grid-template-columns: auto 1fr;

		grid-gap: 6rem;
	}

	.buttons {
		grid-template-columns: repeat(2, auto);
		justify-content: center;
	}
}

@keyframes scale-up-top {
	0% {
		transform: scale(0.5);
		transform-origin: 50% 0%;
	}
	100% {
		transform: scale(1);
		transform-origin: 50% 0%;
	}
}
